$def with (bots, asf_bots, errorName=None, errorInfo=None)
<html>
<head>
    <title>ASF-Naive-WUI</title>
</head>
<body>
    <h1>ASF-Naive-WUI</h1>
    <h2>Bots list</h2>
$if errorName:
    <h3>$errorName</h3>
    <p>$errorInfo</p>
<h3>Control Center</h3>
$for bot_name in bots:
    <b>$bot_name</b>
    <form method="post">
    <input type="hidden" name="op" value="start">
    <input type="hidden" name="bot" value="$bot_name">
    <input type="submit" value="Start">
    </form>
    <form method="post">
    <input type="hidden" name="op" value="stop">
    <input type="hidden" name="bot" value="$bot_name">
    <input type="submit" value="Stop">
    </form>
    <br>
$for bot_name, bot in asf_bots.iteritems():
    $if bot['KeepRunning']:
        <h3>$bot_name - Running - $bot['CardsFarmer']['TimeRemaining']</h3>
    $else:
        <h3>$bot_name - Stopped - $bot['CardsFarmer']['TimeRemaining']</h3>
    <h4>Currently farming:</h4><p>
    $for game in bot['CardsFarmer']['CurrentGamesFarming']:
        <b>$game['GameName']</b> $game['CardsRemaining'] cards remain<br />
    </p>
    <h4>Games to farm:</h4><p>
    $for game in bot['CardsFarmer']['CurrentGamesFarming']:
        <b>$game['GameName']</b> $game['CardsRemaining'] cards remain<br />
    </p>
</body>
</html>
